$success-color: #49d790;
$success-color-hover: #4fe79b;
$failed-color: #ff7285;
$failed-color-hover: #ff8595;

$shadow-card: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$shadow-card-hover: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

$border-radius: 20px;

$transition-time: 0.5s;
