/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}
body {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* processing */
.container {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 1320px;
  text-align: center;
}
.card-carousel {
  margin: 3rem 8rem;
  display: flex;
}
.card-block {
  width: 486px;
  height: 592px;
  margin: 3px 47px;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-block:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: 0.3s;
}

.card_image {
  margin: 0 auto;
  margin-top: 3rem;
  width: 215px;
  height: 179px;
}
.card_status {
  margin-top: 6rem;
}
p.status {
  font-size: 40px;
  color: rgb(51, 51, 51);
  font-weight: bolder;
}
p.message {
  font-size: 22px;
  color: rgb(123, 121, 121);
  font-weight: bolder;
}
.card_message {
  margin-top: 4rem;
}
.card_button {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_button a {
  display: block;
  text-decoration: none;
  background-color: #49d790;
  color: white;
  font-size: larger;
  font-weight: bold;
  width: 306px;
  height: 77px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a:hover {
  background-color: #4fe79b;
  transition: 0.3s;
}
a.failed {
  display: block;
  text-decoration: none;
  background-color: #ff7285;
  color: white;
  width: 306px;
  height: 77px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.failed:hover {
  background-color: #ff8595;
  transition: 0.3s;
}
